


.content-logo {
	
	text-align: center;

}

.img-logo {

	width: 60px;

}

.txt-logo-0 {

	position: relative;
	top: -20px;
	font-size: 25px;

}

.txt-logo-1 {

	font-size: 12px;
	color: #dadada;
	top: -20px;
	left: 10px;

}
