loader {

	z-index: 9999;
	width: 100%;
	height: 100%;
	background: black;

}


.img-loader {

	width: 200px;
	margin: auto;

}

.content-pjs {

	width: 100%;
	height: 100%;

}

.particles-js {

	width: 100%;
	height: 100%;

}

.main-content {

	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;

}

.estandar-link {

	color: white;
	text-decoration: none;

}

.estandar-link:hover {

	text-decoration: underline;

}
